/TADDic/build/
/TADS7/nbproject/private/
/TADS/nbproject/private/
/dicionario/nbproject/private/
/dicionario/build/
/grafoDir/nbproject/private/
/grafoDir/build/
/ProcessaGrafo/nbproject/private/
/ProcessaGrafo/build/